div{
    text-align: center;
}
.candy{
    border-style:solid;
    border-color:aliceblue;
}
a{
    text-decoration:none;
    text-align:center;
    display: block;
}
nav{
    margin-left:0px;
    text-align:left
}
body{
    background-color: black;
    color:aliceblue;
    text-align:center;
}
h1{
    text-shadow: 3px 3px 3px whitesmoke;
}
img{
    width:20rem;
    border-style:solid;
    border-color:aliceblue;
    border-radius: 25px;
}
.description{
    display:inline-block;
    border-style:solid;
    border-color:aliceblue;
    border-radius: 25px;
}
.cardtext{
    width:19.5rem;
}
.name{
    font-size:30px;
}

